<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559209613198-flpi68pdhn2tfe08r13qa98d84lb5tau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559209613198-flpi68pdhn2tfe08r13qa98d84lb5tau</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>559209613198-mgro2ggu96lsr4ru2d115qugs7l1gmtn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAA0OtPlHGjSp6ULy6vwkaVwuQBGQUSvzo</string>
	<key>GCM_SENDER_ID</key>
	<string>559209613198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.musicMatesApp</string>
	<key>PROJECT_ID</key>
	<string>music-mates-344210</string>
	<key>STORAGE_BUCKET</key>
	<string>music-mates-344210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559209613198:ios:f4a479392b1aa2c75646df</string>
</dict>
</plist>